.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.turn-highlight {
	color: white;
}

.reset { 
	color: white;
	background-color: var(--resetGreen);
	padding: 1rem;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	width: 100%;
}

.grid-wrapper {
	max-width: 300px;
}